.sidebar {
	border: 1px solid;
	border-radius: 10px;
	background-color: GhostWhite;
}

.pagebody {
	border: 1px solid;
	border-radius: 10px;
	background-color: Gainsboro;
}

.pagebase {
	background-image: url('../app_background.jpg');
}

.pageheader {
	border: 1px solid;
	border-radius: 10px;
	background-color: GhostWhite;
	padding-left: 20px;
}

.formpiece {
	padding-left: 15px;
}

.listpiece {
	padding-left: 30px;
}

.btn {
	margin: 3px;
	width: 98%;
}

.remove-user-button {
	position: relative;
	top: -5px;
}

.movie-list-item {
	height: 50px;
	font-size: xx-large;
	font-weight: bold;
}

ul {
    list-style-type: none;
	text-align: center;
}

#tipsandtricksbox {
	margin-bottom: 10px;
	padding-top: 5px;
	border: 1px solid;
	border-radius: 10px;
	background-color: White;
}

#returntohomepagelink {
	font-size: 20px;
	font-weight: bold;
}