<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>{% block title %}The Northgate Alternative{% endblock %}</title>
    </head>
    <body id="">

        <p>
			<a href="{{ url_for('list_users') }}">List users in recommender queue</a>
			| <a href="{{ url_for('add_recommender_user') }}">Add users to recommender queue</a>
			| <a href="{{ url_for('remove_user') }}">Remove users from recommender queue</a>
			| <a href="{{ url_for('group_search') }}">Search based on users</a>
		</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                     {% for message in messages %}
                        <p>{{ message }}</p>
                     {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}
    </body>
</html>
