{% extends "base.html" %}

{% block content %}
	<div class="row-fluid">
		<div class="span5 sidebar text-center">
			
			<h3 class="formpiece" id="">Users in the recommender list</h3>
			<ul class="listpiece">
				{% for recommender_user in recommender_users %}
				<li>					
					<form action="{{ url_for('remove_user') }}" method="post">
						<span style='font-size: x-large'>{{ recommender_user.username|safe }}</span>
						{{ remove_user_form.usertodelete(value=recommender_user.username)|safe }}
						<input type="submit" class='btn btn-danger remove-user-button' value="X"></input>
					</form>
				</li>
				{% endfor %}
			</ul>
			
			<h3 class="formpiece" >Add new user</h3>
			<form class="formpiece form-search" action="{{ url_for('add_recommender_user') }}" method="post" accept-charset="utf-8">
				{{ form.csrf_token }}
				<p>
					<label for="username">{{ form.username.label }}</label><br />
					{{ form.username|safe }}<br />
					
					{% if form.username.errors %}
					<ul class="errors">
						{% for error in form.username.errors %}
						<li>{{ error }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				</p>
				<p><input type="submit" class="search-query"value="Add User"/></p>
			</form>

			<div id="tipsandtricksbox" class="formpiece">
				<p>Preformed Groups for Demo Purposes</p>
				<div class="btn-group btn-group-vertical">
					<button id='js-test-group-one' class='btn btn-inverse preformed-group-button'>Users: 1000, 1001  - Genres: Horror, Sci-Fi</button>
					<button id='js-test-group-two' class='btn btn-inverse preformed-group-button'>Users: 1006, 1003, 1004  - Genres: Crime, Comedy, Mystery</button>
					<button id='js-test-group-three' class='btn btn-inverse preformed-group-button'>Users: 86, 652, 1006  - Genres: Crime, Action</button>
					<button id='js-test-group-four' class='btn btn-inverse preformed-group-button'>Users: 450, 243  - Genres: Crime, Thriller, Action</button>
				</div>
				
			</div>
		</div>
		
		<div class="span7 pagebody">
			
			<h2 class=" text-center" >Movie Recommendations - Unordered List</h1>
			
			<ul id="movieList" class='nav nav-list'>
				<li class='active'><a href='#'>...NO MOVIES IN LIST YET...</a></li>
			</ul>
			
			<button id="generateMovieList" class='btn btn-success btn-large'> Generate Some Movies!! </button>
			
		</div>
	</div>
{% endblock %}
