{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4 sidebar text-center">
			
			<h3 class="formpiece" id="">Users in the recommender list</h3>
			<ul class="listpiece">
				{% for recommender_user in recommender_users %}
				<li>					
					<form action="{{ url_for('remove_user') }}" method="post">
						<span style='font-size: x-large'>{{ recommender_user.username|safe }}</span>
						{{ remove_user_form.usertodelete(value=recommender_user.username)|safe }}
						<input type="submit" class='btn btn-danger remove-user-button' value="X"></input>
					</form>
				</li>
				{% endfor %}
			</ul>
			
			<h3 class="formpiece" >Add new user</h3>
			<form class="formpiece form-search" action="{{ url_for('add_recommender_user') }}" method="post" accept-charset="utf-8">
				{{ form.csrf_token }}
				<p>
					<label for="username">{{ form.username.label }}</label><br />
					{{ form.username|safe }}<br />
					
					{% if form.username.errors %}
					<ul class="errors">
						{% for error in form.username.errors %}
						<li>{{ error }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				</p>
				<p><input type="submit" class="search-query"value="Add User"/></p>
			</form>
			
			<h3 class="formpiece" >Recommender To Use</h3>
			<form class="formpiece text-center">
				<select id="recommenderstouse">
					<option value="recommender1" selected>Safe Recommender</option>
					<option value="recommender2">Swing for the fences</option>
				</select>
			</form>

			<div id="tipsandtricksbox" class="formpiece">
				<p>Preformed Groups for Demo Purposes</p>
				<ul class='nav nav-list'>
					<li><button id='js-test-group-one' class='btn btn-info'>Users: 55, 66, 77 - Genres: Action, Mystery, Romance</button></li>
				</ul>
			</div>
		</div>
		
		<div class="span8 pagebody">
			
			<h2 class=" text-center" >Movie Recommendation List</h1>
			
			<ul id="movieList" class='nav nav-list'>
				<li class='active'><a href='#'>...NO MOVIES IN LIST YET...</a></li>
			</ul>
			
			<button id="generateMovieList" class='btn btn-success btn-large'> Generate Some Movies!! </button>
			
		</div>
	</div>
</div>
{% endblock %}
